/* SECTION HERO */
.hero {
  position: relative;
  min-height: 20rem;

  background-image: url('../images/page-top-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 4rem;
  font-weight: 700;
  color: white;

  background-color: var(--primary-color);
}
