/* SECTION APP-FOOTER */
.app-footer {
  padding: 5rem 0;

  background-image: url('../images/footer-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* SOCIAL-LIST */
.app-footer__social-list {
  display: flex;
  padding: 0;
  margin: 0;

  list-style: none;
}

.app-footer__social-list > li {
  margin-right: 3rem;
}

.app-footer__social-list > li > a {
  color: gray;
}

/* MENU */
.app-footer__menu {
  display: flex;
  padding: 0;
  margin: 0;

  list-style: none;
}

.app-footer__menu > li {
  margin-left: 3rem;
}

.app-footer__menu > li > a {
  color: black;
}

.app-footer__menu > li > a:hover {
  color: var(--primary-color);
  text-decoration: none;
}

.app-footer__menu > li > a.active {
  color: var(--primary-color);
}

.app-footer__copyright {
  margin-bottom: 0;
}
