/*******************/
/* SECTION TOP-BAR */
.top-bar {
  background-color: var(--primary-color);
  padding: 1.8rem 0;
}

/* SOCIAL-LIST */
.top-bar__social-list {
  display: flex;
}

.top-bar__social-list > li {
  margin-right: 3.5rem;
}

.top-bar__social-list > li > a {
  color: #fff;
}

/* LINKS */
.top-bar__links {
  font-size: 1.4rem;
  color: #fff;
  font-weight: 600;
}

.top-bar__links > a {
  color: #fff;
}

/*******************/
/* SECTION TOP-NAV */
.top-nav {
  padding: 1.6rem 0;

  position: relative;
}

.top-nav__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO */
.logo > img {
  height: 64px;
}

/* MENU */
.menu {
  display: flex;
}

.menu > li {
  margin-right: 4rem;
}

.menu > li > a {
  color: #474747;
  font-weight: 500;
  font-size: 1.5rem;

  transition: color 0.35s linear 0s;
}

.menu > li > a:hover {
  color: var(--primary-color);
}

.menu > li.active > a {
  font-weight: 700;
  color: var(--primary-color);
}

/* SEARCH */
.top-nav__search {
  background-color: var(--primary-color);
  padding: 0.8rem 1rem;
  border-radius: 4px;

  cursor: pointer;
}

.top-nav__search > a {
  color: white;
}

/* TOGGLE */
.top-nav__toggle {
  display: none;
  margin-left: 1.5rem;
  padding: 0.25rem 0.8rem;
  border: 1px solid #ddd;

  font-size: 2rem;

  cursor: pointer;
}

/* RESPONSIVE */

/* ----------767px */
@media screen and (max-width: 767px) {
  .menu {
    flex-direction: column;
    background-color: #fff;

    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 2;

    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s linear;
  }

  .menu.show {
    max-height: 30rem;
  }

  .menu > li {
    border-top: 1px solid #ddd;
    padding: 1.4rem 2rem;
    margin-right: 0;
  }

  .menu > li > a {
    color: #333;
  }

  .top-nav__toggle {
    display: block;
    order: 3;
  }

  .top-nav__search {
    margin-left: auto;
  }
}

/* 768px---------991px */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .logo > img {
    height: 48px;
  }
}

/* ----------575px */
@media screen and (max-width: 575px) {
  .logo > img {
    height: 48px;
  }
}
